body{

width: 100%;

background-color:cornsilk;

}



div.title{

position:relative;

margin: 10px auto;
width: 960px;

height: 100px;
background-color: orange;

}



.sitename{

position: absolute;

top: 50%;

left: 20px;

-ms-transform: translateY(-50%);

-webkit-transform : translateY(-50%);

transform : translateY(-50%);

}



.myaccount{

position: absolute;

top: 50%;

right: 10px;

-ms-transform: translateY(-50%);

-webkit-transform : translateY(-50%);

transform : translateY(-50%);

background: #888888;

}



.search{

width: 960px;

margin: 0px auto;

text-align: right;

}



.searchbox{

width: 400px;

height: 32px;

}



.searchbtn{

height: 32px;

}



.main{

margin: 5px auto;

padding: 5px;

width: 960px;

background: #00ff00;

}



.name{

text-align:left;

margin: 0px 5px;

line-height: 32px;

background: #8080ff

}



.image{

float: right;

margin: 5px;

}



.box{

margin: 0px 5px 5px;

padding: 2px 10px;

width: 600px;

background-color: aqua;

}



.page{
margin: 0 0 10px;

padding: 10px 10px 5px;

width: 100%;

text-align: center;

background: #eee;

}



.page li {

display: inline;

margin: 0 2px;

padding: 0;

}



.page li span,
.page li a {

display: inline-block;

margin-bottom: 5px;

padding: 1px 8px;

background: #fff;

border: 1px solid #aaa;

text-decoration: none;

vertical-align: middle;

}



.page li a:hover {

background: #eeeff7;

border-color: #00f;

}
